runner/results/*/run_*
runner/results/*/latest/*
runner/results/*
runner/experiments/*/results*/*

retqss/bin/
retqss/build/
retqss/lib/
retqss/models/
retqss/output/
retqss/packages/pkg_*
retqss/.project

result_*.csv
particle_simulation.gif
benchmark.txt
frame_*.png
metrics.csv

*.pyc

CHANGELOG

*.png
*.txt
