runner/results/*/run_*
runner/results/*/latest/*
runner/results/*

retqss/bin/
retqss/build/
retqss/lib/
retqss/models/
retqss/output/
retqss/packages/pkg_*
retqss/.project

result_*.csv
particle_simulation.gif
config.json
benchmark.txt
frame_*.png

*.pyc

CHANGELOG

*.png
*.txt
